<a href="https://colab.research.google.com/github/5dongdong/PY_AI/blob/master/model/XGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import MinMaxScaler, StandardScaler, MaxAbsScaler, RobustScaler
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn.metrics import accuracy_score

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/medical_noshow.csv')

In [5]:
df

,Age,Scholarship,Hipertension,Diabetes,Alcoholism,SMS_received,No-show,Handicap_0,Handicap_1,Handicap_2,Handicap_3,Handicap_4,AwaitingTime,Num_App_Missed,Gender_F,Gender_M
0,62,0,1,0,0,0,0,1,0,0,0,0,0.776481,0,1,0
1,56,0,0,0,0,0,0,1,0,0,0,0,0.672535,0,0,1
2,62,0,0,0,0,0,0,1,0,0,0,0,0.679907,0,1,0
3,8,0,0,0,0,0,0,1,0,0,0,0,0.728831,0,1,0
4,56,0,1,1,0,0,0,1,0,0,0,0,0.671794,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110514,56,0,0,0,0,1,0,1,0,0,0,0,34.614178,1,1,0
110515,51,0,0,0,0,1,0,1,0,0,0,0,34.689201,1,1,0
110516,21,0,0,0,0,1,0,1,0,0,0,0,40.330648,0,1,0
110517,38,0,0,0,0,1,0,1,0,0,0,0,40.368484,0,1,0
110518,54,0,0,0,0,1,0,1,0,0,0,0,40.436852,0,1,0

In [8]:
X = df[['Gender_F','Gender_M', 'Diabetes','Hipertension', 'Scholarship', 'SMS_received',
        'Handicap_0','Handicap_1','Handicap_2','Handicap_3','Handicap_4', 'Num_App_Missed', 'Age', 'AwaitingTime']]
y = df["No-show"] 

x_train, x_test, y_train,y_test = train_test_split(
    X, y, train_size=0.8, shuffle=True, random_state=42
)

In [9]:
# 변수 설정
n_splits = 11    # 보통 홀수로 들어감
random_state = 42
scaler = MinMaxScaler()

In [10]:
kfold = KFold(n_splits=n_splits, shuffle=True, 
              random_state=random_state)


# Scaler
scaler.fit(x_train)                 
x = scaler.transform(x_train)   # train 은 fit, transform 모두 해줘야 함
x = scaler.transform(x_test)

In [11]:
# 2. 모델
model = XGBClassifier()

# 3. 훈련
model.fit(x_train, y_train)

#4. 평가, 예측
result = model.score(x_test,y_test)
print('결과 acc : ', result)
#print('결과 r2 : ', result)

score = cross_val_score( model, 
                        x_train, y_train,
                        cv = kfold )  #cv = cross validation_

y_predict = cross_val_predict(model,
                              x_test, y_test,
                              cv = kfold)

acc = accuracy_score(y_test, y_predict)
print('cv pred acc : ', acc )

결과 acc :  0.9205573651827723
cv pred acc :  0.9153999276149113